################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/
*.suo
*.user
_ReSharper.*/
*.sdf
**/node_modules/
bin/
obj/
Debug/
Release/
.vs/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/packages
*/**/appsettings.Development.json
ServiceDependencies/
PublishProfiles/


*/**/.dtbcache.v2

/Src/App.Main/wwwroot/js/**/*
/Src/App.Main/wwwroot/build-info.json
/Src/App.Main/tsconfig.tsbuildinfo
